body,
.content-wrapper,
.main-footer {
    background-color: #f6f6f6 !important;
    color: #373737 !important;
}

h1 {
    font-weight: bold;
}
.main-header.navbar {
    background-color: #21569c !important;
    border-bottom: 1px solid #e4e4e4 !important;
}


.brand-logo {
    width: 200px !important;
    height: auto !important;
        object-fit: contain;
    margin-left: 10px;
    align-self: center;

}

.login-logo {
 color: #7719D6!important;
}




.navbar-light .navbar-nav .nav-link,
.navbar-nav .nav-link {
    color: #ccc !important;
}

.navbar-nav .nav-link:hover {
    color: #fff !important;
}


.main-sidebar {
    background-color: #164277 !important;
}



.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #ffffff !important;
    color: #4c4a4a !important;
    border-color: #ccc;
}

.nav-sidebar .nav-link {
    color: #ccc !important;
    border-color: #ccc;
}

.nav-sidebar .nav-link:hover {
    background-color: #cecdcd !important;
    color: #353535 !important;
    border-color: #ccc;
}

.small-box {
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(142, 142, 142, 0.05);
    color: #fff !important;
}

.small-box.bg-primary {
    background: linear-gradient(135deg, #21569c, #9cbffc) !important;
}

.small-box.bg-success {
    background: linear-gradient(135deg, #7719D6, #d0a1ff) !important;
}

.small-box.bg-info {
    background: linear-gradient(135deg, #C2175B, #ffbbd6) !important;
}

.small-box.bg-warning {
    background: linear-gradient(135deg, #0d70a2, #CCEEF4) !important;

}

.small-box-footer {
    color: #ffffff !important;
}

.card {
    background-color: #ecf3fc !important;
    color: #313131 !important;

}

.card-title {
    font-weight: bold;
}
.card-header {
    background-color: #d6e7ff !important;
}

.card-body {
       
padding: 10px;
}

.badge {
   font-size: 16px; 
}

.card-body small {
   font-size: 14px; 
}

table {
    color: #414141 !important;
}

.table thead {
    background-color: #d6d5d5 !important;
}

.table tbody tr {
    background-color: #e4e3e3 !important;
}

.table tbody tr:hover {
    background-color: #d4d4d4 !important;
}


.btn {
    border-radius: 8px;
       color: #fff !important;
}

.btn-primary {
    background-color: #d9336d !important;
      color: #fff !important;
        border: 0px;
}


.btn-primary:hover {
    background-color: #f75d93 !important;
      color: #fff !important;
        border: 0px;
}


.btn-warning {
    background-color: #d9336d !important;
        color: #fff !important;
        border: 0px;
}

.btn-danger {
    background-color: #d9336d !important;
      color: #fff !important;
        border: 0px;
}

.btn-outline-secondary{
     background-color: #ffffff !important;
       color: #464646 !important;
        border: 0px;
}

.btn-outline-secondary:hover{
     background-color: #a1ddfb !important;
       color: #464646 !important;
        border: 0px;
}

.form-control {
    background-color: #ffffff !important;
    border: 1px solid #c4c4c4 !important;
    color: #343434 !important;
}

.form-control:focus {
    background-color: #ffffff !important;
    border-color: #939393 !important;
    color: #373737 !important;
}

::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.event-menu { 
  display: flex;
    justify-content: center;   /* Centra horizontalmente */
    flex-wrap: wrap;           /* Permite que salten a otra línea */
    gap: 25px;
    margin: 20px;

}

.event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    background: #ffffff;
     background: linear-gradient(135deg, #e7e1ff 0%, #f3f6f9 100%);
    border-radius: 15px;
    text-decoration: none !important;
    color: #333;
    font-weight: 600;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all .25s ease;
    border: 1px solid #e5e5e5;

    min-width: 200px;   /* ← MISMO TAMAÑO SIN CAMBIAR DISEÑO */
}


.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    color: #7719D6;
}

.event-card .icon {
    font-size: 32px;
    margin-bottom: 10px;
      color: #C2175B;
}

:root {
    --chart-color-1: #21569c;
    --chart-color-2: #4389D9;
    --chart-color-3: #7719D6;
    --chart-color-4: #c193e8;
    --chart-color-5: #C2175B;
    --chart-color-6: #FF9EF1;
}



.small-box.bg-warning .small-box-footer {
    color: #ffffff !important;
}

.small-box.bg-warning .inner,
.small-box.bg-warning h3,
.small-box.bg-warning p {
    color: #ffffff !important;
}


